.friends {
    display: inline-block;
    cursor: pointer;
    padding: 0 5px 1px 5px !important;
}

.friends:hover{
    background-color: rgba(35, 56, 27, 0.10);
}

.friends span {
    vertical-align: middle;
}