.execute .textvalue {
    display: inline-block;
    width: 100px;
    height: auto;
    font-size: 2em;
    margin-top: 10px;
}

.execute .progress {
    margin-top: 27px;
    margin-left: 25px;
}

.execute .progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}​