<div class="private">
    <img src="components/private/logo.png"/>
    <div class="bricks"></div>
    <div class="info info-ava">
        <member params="name: 'private'"></member>
        <battery params="name: 'private'"></battery>
        <level params="name: 'private'"></level>
    </div>
    <div class="info info-money">
        <money params="name: 'private'"></money>
        <mass params="name: 'private'"></mass>
        <friends params="name: 'private'"></friends>
        <gold params="name: 'private'"></gold>
    </div>
</div>