<div class="gyms">

    <!-- ko with: selectedGym() -->

    <div class="meta text-center">
        <h3 data-bind="text:name"></h3>

        <p data-bind="text:desc"></p>
        <button type="button" class="btn btn-primary" aria-label="Left Align"
                data-bind="attr: {disabled:disabled}, click: $parent.select,
        css:{'btn-primary':!disabled,'btn-danger':disabled}">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            <span data-bind="text: $parent.strings.gymsBtnEnter"></span>
        </button>
    </div>

    <button class="btn btn-primary left"
            data-bind="click: $parent.prev, css: { disabled: !$parent.prevEnabled() }">
        <span class="glyphicon glyphicon-chevron-left"></span></button>
    <button class="btn btn-primary right"
            data-bind="click: $parent.next, css: { disabled: !$parent.nextEnabled() }">
        <span class="glyphicon glyphicon-chevron-right"></span></button>

    <img alt="" src="" data-bind="attr:{src:img,alt:name}"/>

    <!-- /ko -->

</div>