main {
  .main {

    height: 0;

    .menu {
      left: 398px;
      position: absolute;
      top: 0;
    }

    .menu-container {
      position: relative;
      top: 154px;
      z-index: -1;
    }
  }
}