.body {
  cursor: pointer;
  position: absolute;

  .avatar {
    width: 70px;
    height: 70px;
    left: 8px;
    top: 8px;
    border-radius: 50%;
    position: absolute;
  }

  .frame {
    width: 85px;
    height: 85px;
  }

  img {
    position: absolute;
    left: 0;
  }

  .mass {
    position: absolute;
    bottom: 0;
    left: 23px;
  }
}
