.ava {
  cursor: pointer;
  position: absolute;
}
.ava .avatar {
  width: 70px;
  height: 70px;
  left: 8px;
  top: 8px;
  border-radius: 50%;
  position: absolute;
}
.ava .frame {
  width: 85px;
  height: 85px;
}
.ava img {
  position: absolute;
  left: 0;
}
.ava .mass {
  position: absolute;
  bottom: 0;
  left: 23px;
}
