.body {
  position: relative;
}
.body .img-background {
  width: 480px;
  height: 550px;
}
.body .img-body {
  position: absolute;
  top: 0;
}
.body canvas.frazzle {
  position: absolute;
  left: 0;
  top: 0;
}
