<div class="top" data-bind="visible: isVisible()">
    <div class="text-center" data-bind="foreach: visibleItems">
        <member params="name: 'top' + $index(), model: $data"></member>
    </div>
    <sw params="name: 'top'"></sw>
    <span class="top-players" data-bind="text: strings.topPlayers"></span>
    <span class="top-friends" data-bind="text: strings.topFriends"></span>
    <button class="btn btn-primary left"
            data-bind="click: $parent.prev, css: { disabled: !prevEnabled() }">
        <span class="glyphicon glyphicon-chevron-left"></span></button>
    <button class="btn btn-primary right"
            data-bind="click: $parent.next, css: { disabled: !nextEnabled() }">
        <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>