.level {
  display: inline-block;
  cursor: pointer;
  padding: .2em .4em .3em .3em !important;
  position: absolute;
}
.level span {
  vertical-align: middle;
  font-size: 1em;
  color: white !important;
}
.level .glyphicon {
  color: #ffe635 !important;
}
