.man {
  width: 500px;
  position: relative;
}
.man .img-background {
  width: 480px;
  height: 550px;
}
.man .img-man {
  position: absolute;
  top: 0;
}
.man canvas.frazzle {
  position: absolute;
  left: 0;
  top: 0;
}
.man .frazzle-map {
  position: absolute;
  right: 50px;
  bottom: 100px;
}
.man .frazzle-map h5 {
  margin-bottom: 0;
}
