.man {
  width: 700px;
  height: 700px;
  position: relative;
}
.man .img-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 700px;
  height: 700px;
}
.man .ava {
  position: absolute;
  left: 220px;
  top: 150px;
}
.man .img-background {
  width: 480px;
  height: 550px;
}
.man .img-man {
  position: absolute;
  top: 150px;
  left: 150px;
}
.man canvas.frazzle {
  position: absolute;
  left: 0;
  top: 0;
}
.man .frazzle-map {
  position: absolute;
  right: 50px;
  bottom: 30px;
  color: white;
  text-shadow: 1px 1px 2px #969696;
}
.man .frazzle-map h5 {
  margin-bottom: 0;
}
.man .shadow {
  width: 180px;
  height: 30px;
  position: absolute;
  left: 265px;
  bottom: 100px;
  box-shadow: 0 80px 40px rgba(0, 0, 0, 0.8);
}
