<div class="man">

    <img class="img-back" src="components/gyms/gym0.jpg"/>

    <div class="shadow"></div>

    <!-- ko if: model() -->

    <map name="navigation" data-bind="foreach: muscles">
        <area data-bind="attr: { coords: map, 'data-id': $index }"
              shape="poly"
              href="javascript:;">
    </map>

    <img class="img-body" alt="" src="" data-bind="attr: { src: src }"/>

    <muscleinfo params="name: 'man'"></muscleinfo>

    <img class="img-map" src="components/man/transparent.png" border="0" usemap="#navigation"/>

    <character params="name: 'man'"></character>

    <member params="name:'man'"></member>
    <level params="name:'man'"></level>

    <div class="frazzle-map" data-bind="visible: model().private">
        <h5 data-bind="text: strings.showFrazzle"></h5>
        <sw params="name: 'man'"></sw>
    </div>

    <weigher params="name:'man'"></weigher>

    <!-- /ko -->

</div>