<div class="man" data-bind="visible:isVisible, loaded">

    <img class="img-back" src="components/gyms/gym0.jpg"/>
    <div class="shadow"></div>

    <!-- ko if: model -->
    <img class="img-man" data-bind="attr: { src: src }" border="0" usemap="#navigation"/>

    <map name="navigation" data-bind="foreach: muscles">
        <area data-bind="attr: { coords: map },
                         event: { mouseover: function() { $parents[0].hover(event, $data); },
                                  mouseout: function() { $parents[0].out($data); } }"
              shape="poly"
              href="javascript:;">
    </map>

    <!-- ko if: !model().private -->
    <ava params="name:'man'"></ava>
    <!-- /ko -->

    <muscleinfo params="name: 'man'"></muscleinfo>

    <!-- ko if: model().private -->
    <div class="frazzle-map">
        <h5 data-bind="text: strings.showFrazzle"></h5>
        <sw params="name: 'man'"></sw>
    </div>
    <!-- /ko -->

    <!-- /ko -->

</div>