@import url('bootstrap/css/bootstrap.min.css');
@import url('lib/toastr.min.css');
@import url('lib/bootstrap-slider.min.css');
@import url('components/sw/style.css');
@import url('components/gyms/style.css');
@import url('components/journal/style.css');
@import url('components/workout/style.css');
@import url('components/execute/style.css');
@import url('components/timer/style.css');
@import url('components/jobbing/style.css');
@import url('components/menu/style.css');
@import url('components/money/style.css');
@import url('components/friends/style.css');
@import url('components/battery/style.css');
@import url('components/mass/style.css');
@import url('components/energy/style.css');
@import url('components/ava/style.css');
@import url('components/private/style.css');
@import url('components/muscleinfo/style.css');
@import url('components/man/style.css');
@import url('components/main/style.css');
body {
  font-family: 'Roboto Condensed', sans-serif;
}
#container {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 700px;
  height: 800px;
}
.glyphicon {
  top: 0;
}
.glyphicon-flash {
  color: #ffda14;
}
.bootbox .modal-dialog {
  width: 300px;
}
