.workout {

  h2 {
    margin-top: 10px;
  }

  .label {
    cursor: pointer;
  }

  .well {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 0;
    box-shadow: none;

    h3 {
      margin-top: 0;
    }
  }

  .nav {
    img {
      width: 100px;
      height: 100px;
    }

    display: inline-block;
    vertical-align: middle;
  }

  .exSelect {
    background-color: rgba(237, 230, 219, 0.13);
  }

  .exSetup {
    position: relative;
    background-color: rgba(237, 230, 219, 0.13);
    padding-bottom: 15px;
  }

  .exExecute {
    background-color: rgba(237, 230, 219, 0.13);
  }

  .slider {
    width: 270px;
  }

  .slider-selection {
    background: #76ba59;
  }

  .executeBtn {
    font-size: 1em;
//    position: absolute;
    padding: 9px 10px 5px 10px;
    margin-top: 20px;
//    top: 50%;
//    left: 50%;
//    margin-left: -55px;
//    margin-top: -20px;
  }

}