<div class="workout">
    <div class="exSelect text-center well">
        <button type="button" class="btn btn-primary left" data-bind="click:prev,css:{disabled:!left()}">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
        <ul class="nav nav-pills" data-bind="foreach: exercises">
            <li role="presentation" data-bind="css: {active:active, disabled:disabled}, click: $parent.select">
                <a href="#" class="text-center">
                    <img alt="..." src="" data-bind="attr:{src:img}" class="img-thumbnail"/>

                    <div class="caption">
                        <h5 data-bind="text:name"></h5>
                    </div>
                </a>
            </li>
        </ul>
        <button type="button" class="btn btn-primary right" data-bind="click:next,css:{disabled:!right()}">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
    <div class="exSetup text-center well" data-bind="visible:selectedExercise">
        <div class="row">
            <div class="col-md-6" data-bind="with:selectedExercise">
                <h2 data-bind="text:name"></h2>

                <p data-bind="text:desc"></p>
                <buy params="name: 'workout'"></buy>
            </div>
            <div class="col-md-6" style="padding-top: 15px;">
                <wr params="name:'workout'"></wr>
                <pr params="name:'workout'"></pr>
            </div>
        </div>
        <div class="row" data-bind="visible:(selectedExercise() ? !selectedExercise().disabled : true)">
            <div class="col-md-6 text-center">
                <h4>
                    <span class="label label-default" data-bind="text:strings.trChooseWeight"></span>
                    <span class="label label-warning" data-bind="text:weightDesc"></span>
                    <span class="label label-primary" data-bind="text:strings.prMini, attr: {title:strings.prDesc}, visible: (selectedExercise()? (selectedExercise().pr ? selectedExercise().pr : 0) : 0) < weight()"
                          data-toggle="tooltip" data-placement="bottom" data-delay="500"></span>
                    <span class="label label-danger" data-bind="text:strings.wrMini, attr: {title:strings.wrDesc}, visible: (selectedExercise()? (selectedExercise().wr ? selectedExercise().wr.value : 0) : 0) < weight()"
                          data-toggle="tooltip" data-placement="bottom" data-delay="500"></span>
                </h4>
                <input class="weightSlider" data-slider-id='weightSlider' type="text" data-slider-tooltip="hide"/>
            </div>
            <div class="col-md-6 text-center">
                <h4>
                    <span class="label label-default" data-bind="text: strings.trChooseRepeats"></span>
                    <span class="label label-warning" data-bind="text:repeatsDesc"></span>
                </h4>
                <input class="repeatsSlider" data-slider-id='repeatsSlider' type="text" data-slider-tooltip="hide"/>
            </div>
            <button class="btn btn-success executeBtn"
                    data-bind="click:execute, attr: { disabled: disabled }">
                <span data-bind="text: strings.trExecute"></span>
                <energy params="name:'workout'"></energy>
            </button>
        </div>
    </div>
    <!-- ko if: selectedExercise -->
    <div class="exExecute well text-center" data-bind="visible:selectedExercise">
        <execute params="name:'workout'"></execute>
        <journal params="name:'workout'"></journal>
    </div>
    <!-- /ko -->
</div>